<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>About</title>
</head>
<body>
    <nav>
        <ul class = "titles">
            <li> <a class="nav-bar-item-a" href="#about.html"> Home </a> </li>
            <li> <a class="nav-bar-item-a" href="#works.html"> Works </a> </li>
        </ul>
    </nav>
    <div class = "aboutPhoto">
        <img src="/public/BobMarley1.jpg" alt="BobMarley1">
    </div>
    <div class = "moreInfo">
    <h1>Robert Nesta Marley</h1>
    <div class = "aboutBob">
    <article class = "deepInfo">Robert Nesta Marley (6 February 1945 to 11 May 1981) was a Jamaican singer, musician, and songwriter. Considered one of the pioneers of reggae, his musical career was marked by fusing elements of reggae, ska, and rocksteady, as well as his distinctive vocal and songwriting style. Marley's contributions to music increased the visibility of Jamaican music worldwide, and made him a global figure in popular culture to this day. Over the course of his career, Marley became known as a Rastafari icon, and he infused his music with a sense of spirituality. He is also considered a global symbol of Jamaican music and culture and identity, and was controversial in his outspoken support for democratic social reforms.[citation needed] In 1976, Marley survived an assassination attempt in his home, which was thought to be politically motivated. He also supported legalisation of marijuana, and advocated for Pan-Africanism.</article>
    
    <article class = "deepInfo">In July 1977, Marley was diagnosed with a type of malignant melanoma under a toenail.[68] Contrary to urban legend, this lesion was not primarily caused by an injury during a football match that year, but was instead a symptom of already-existing cancer. He had to see two doctors before a biopsy was done, which confirmed acral lentiginous melanoma. Unlike other melanomas, usually on skin exposed to the sun, acral lentiginous melanoma occurs in places that are easy to miss, such as the soles of the feet, or under toenails. Although it is the most common melanoma in people with dark skin, it is not widely recognised and was not mentioned in the most popular medical textbook of the time.
        Marley rejected his doctors' advice to have his toe amputated (which would have hindered his performing career), citing his religious beliefs, and instead, the nail and nail bed were removed and a skin graft was taken from his thigh to cover the area. Despite his illness, he continued touring and was in the process of scheduling a 1980 world tour.</article>
    
</div>
    </div>
</body>
</html>