<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul class = "titles">
            <li> <a class="nav-bar-item" href="#about.html"> About </a> </li>
            <li> <a class="nav-bar-item" href="#works.html"> Works </a> </li>
        </ul>
    </nav>
    <div class = "mainPhoto">
    <img src="/public/mainPhoto.jpg" alt="BobMarley">
    </div>
    <section>
    <h2> Some curiosities about Bob Marley... </h3>
    <div class = "curDiv">
        <article class = "curiosities">
            <h4>Origins</h4>
            <p>He was a Jamaican singer, musician, and songwriter. Considered one of the pioneers of reggae, his musical career was marked by fusing elements of reggae, ska, and rocksteady, as well as his distinctive vocal and songwriting style</p>
        </article>
        <article class = "curiosities">
            <h4>Assassination Atempt</h4>
            <p>In 1976, Bob returned to his home country for a free performance at the “Smile Jamaica.” He and his wife, Rita Marley, and manager Don Taylor were shot while rehearsing. The motivations for the attack are still unclear, and the artist performed the show even after the incident.</p>
        </article>
        <article class = "curiosities">
            <h4>Fatherhood</h4>
            <p>The artist was the father of 11 children and adopted two stepdaughters. As Rita Marley reported in her biography, No Woman No Cry: My Life with Bob Marley (2004), the couple had only four children, but Bob had several cases of infidelity. He had about 100 paternity claim processes, seven of which were confirmed.</p>
        </article>        
        <article class = "curiosities">
            <h4>Illness</h4>
            <p>During a football match in 1977, Bob injured his big toe. After some time, he was diagnosed with skin cancer in the region. Doctors suggested amputating the finger, but the artist refused because of his Rastafarian beliefs.</p>
                        
        </article>
    </div>
    </section>
</body>
</html>