<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Works</title>
  </head>
  <body>
    <nav>
      <ul class="titles">
        <li><a class="nav-bar-item" href="/views/home.html"> Home </a></li>
        <li><a class="nav-bar-item" href="/views/about.html"> About </a></li>
      </ul>
    </nav>
    <div class="best5">
      <h3>Find below Bob Marley's TOP 5</h3>
      <article>
        <h3 class="song-name"><b>5</b> || One Love ||</h3>
        <img src="/public/onelove.jpg" alt="OneLove" class="music" />
        <a class="link" href="www.youtube.com/watch?v=QMbvpftTEUs"
          >Click Here to hear!</a
        >
      </article>
      <article>
        <h3 class="song-name"><b>4</b> || Stir It Up ||</h3>
        <img src="/public/stir.jpg" alt="Stir" class="music" />
        <a class="link" href="https://www.youtube.com/watch?v=1hwL3S3Gtzs"
          >Click Here to hear!</a
        >
      </article>
      <article>
        <h3 class="song-name"><b>3</b> || Satisfy My Soul ||</h3>
        <img src="/public/satisfy.jpg" alt="Satisfy" class="music" />
        <a class="link" href="www.youtube.com/watch?v=5O1WKodlCIA&t=4s"
          >Click Here to hear!</a
        >
      </article>
      <article>
        <h3 class="song-name"><b>2</b> || Redemption Song ||</h3>
        <img src="/public/redemption.jpg" alt="Redemption" class="music" />
        <a class="link" href="www.youtube.com/watch?v=yv5xonFSC4c"
          >Click Here to hear!</a
        >
      </article>
      <article>
        <h3 class="song-name"><b>1</b> || No Woman No Cry ||</h3>
        <img src="/public/nowoman.jpg" alt="NoWoman" class="music" />
        <a class="link" href="www.youtube.com/watch?v=pHlSE9j5FGY"
          >Click Here to hear!</a
        >
      </article>
    </div>
  </body>
</html>
